# OpenAEV Development Environment Variables
# Copy this file to .env and update values as needed

# PostgreSQL Configuration
POSTGRES_USER=openaev
POSTGRES_PASSWORD=openaev

# pgAdmin Configuration
PGADMIN_USER=admin@openaev.io
PGADMIN_PASSWORD=admin

# openaev API, e.g. for XTM Composer
OPENAEV_ADMIN_TOKEN=
XTM_COMPOSER_ID=